body{
    background-color: black;
    font-family: sans-serif;
}
li a:hover{
    color: white;
    border-bottom: 2px solid goldenrod;
}
.details div {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.details div span:nth-child(1){
    color: white;
    text-align: start;
    
}
.details div span:nth-child(2){
    color: lightgray;
    font-size: 1.3rem;
    
    
}
.img{
    margin-right:50px ;
}
.data:hover{
    background-color: rgb(248, 178, 2) !important;
}
.data:hover a{
    color: white !important;
}
.data:hover p{
    color: rgba(0, 0, 0, 0.808) !important;
    font-weight: 600;
}